JIRA_BASE_URL=https://aiprojectdemo.atlassian.net/
JIRA_EMAIL=sachin508508@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0x2y2WKr55uTVtXF8b1xYAXi5WefTTRHvOSOlKKp422aULPIemrcHwfytaDntE6BPAXUdFbJaphwmcURgrg1jaCkJxsoKr3PXuMXB2SLbQVv-bCvMFy88mW-rvSnhCu6nIJ7GCIHc1cmc-9LOI-7mX3Wd9hyJHBWLJKDTBx2eqFk=A055362D
JIRA_LEAD_ACCOUNT_ID=712020:0a35c22a-e1c5-4e92-9bae-a994a449eebb
GEMINI_API_KEY=
HF_TOKEN= # Hugging face token if needed.
DEEPSEEK_API_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=it_operations_db
DB_USER=home
DB_PASSWORD=your_postgresql_password
